# Modeling Has Many Through

### Introduction

In this lesson, we'll practice modeling has many through relationships.  Once again, we will provide the tables and it is your task to add the foreign keys, and then to make the appropriate queries.

The important part is to think about the `join` table, which has more than one foreign key.  Oftentimes the join table involves the transaction that ties multiple entities together.

### Doctors, Patients and Appointments

Let's get started with the doctors, patients and appointments example.  Copy and paste the below into the Khan academy console.  Then add the appropriate foreign keys to the tables, as well as to the insert into statements.

```sql 
create table doctors (
id INTEGER primary key,
name TEXT
);

create table patients (
id INTEGER primary key,
name TEXT
);

create table appointments (
id INTEGER primary key,
date TEXT
);

insert into doctors (name) VALUES
('greg house'), 
('lisa cuddy');

insert into patients (name) VALUES
('jerry seinfeld'), 
('george castanza'), 
('cosmo kramer');

insert into appointments (date) VALUES
('12/1/1990'),
('10/10/1990'),
('4/13/1990'),
('12/2/1991'),
('5/2/2000');

select * from doctors;
select * from patients;
select * from appointments;
```

Follow up by answering the following questions.

* Find all of the days that Kramer had a doctors appointment.
* Find all of the doctors of Kramer
* Find all of the days that dr house had an appointment.

### Modeling Ecommerce

Next let's think through the an ecommerce store.  Add the respective foreign keys so that we can discover which customers purchased which products.

```sql
create table customers (
id INTEGER primary key,
name TEXT
);

create table products (
id INTEGER primary key,
name TEXT
);

create table orders (
id INTEGER primary key,
date TEXT
);

insert into products (name) VALUES
('samsung tv 7250'), 
('roomba 25'), 
('bic pen 49'),
('huffy bicycle');

insert into orders (date) VALUES
('12/1/1990'),
('10/10/1990'),
('4/13/1990'),
('12/2/1991'),
('5/2/2000');

insert into customers (name) VALUES
('jerry seinfeld'), 
('george castanza'), 
('elaine benis'), 
('cosmo kramer');

select * from customers;
select * from products;
select * from orders;
```

* Begin by finding all of the customers that ordered the `roomba 25`
* Then name of the product that was ordered the most
* Find the names of the products ordered by `elaine benis`

### Modeling Vacation Tours

In this example, we'll perform data modeling for a tour company.  Let's get started.

Begin by again adding the foreign keys on the tables, and then inserting in the foreign keys in the related data.

```sql
create table tours (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table cities (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table categories (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table tour_stops (
id INTEGER PRIMARY KEY AUTOINCREMENT,
stop_number INTEGER
);

create table tour_categories (
id INTEGER PRIMARY KEY AUTOINCREMENT
);

INSERT INTO tours (name) VALUES
('Food Tour of Mexico'),
('History in Mexico'),
('Beaches of Mexico');

INSERT INTO cities (name) VALUES
('Mexico City'),
('Cancun'),
('Oaxaca'),
('Toluca'),
('Acapulco');

INSERT INTO categories (name) VALUES 
('historical'),
('urban'),
('nature'),
('relaxing'),
('educational'),
('luxury'),
('roughin it');
```

Then answer the following questions.

* Find the names of all of the tours that are `'relaxing'`.
* Return all of the city names on the `'Food Tour of Mexico'`, in the order that they are stops on the tour.
* Find all of the categories of the `History of Mexico` tour.
* Find the names of all of the cities in a tour that is `'relaxing'`.