# Modeling Vacation Tours


```sql
create table tours (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table cities (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table categories (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT
);

create table tour_stops (
id INTEGER PRIMARY KEY AUTOINCREMENT,
tour_id INTEGER,
city_id INTEGER,
stop_number INTEGER
);

INSERT INTO tour_stops (tour_id, city_id, stop_number) VALUES
(1, 1, 1),
(1, 2, 3),
(1, 3, 2),
(2, 1, 1),
(2, 2, 2);

create table tour_categories (
id INTEGER PRIMARY KEY AUTOINCREMENT,
tour_id INTEGER,
category_id INTEGER
);

INSERT INTO tour_categories (tour_id, category_id) VALUES
(1, 1),
(2, 1),
(2, 2),
(3, 4),
(2, 4),
(1, 2);

INSERT INTO tours (name) VALUES
('Food Tour of Mexico'),
('History of Mexico'),
('Beaches of Mexico');

INSERT INTO cities (name) VALUES
('Mexico City'),
('Cancun'),
('Oaxaca'),
('Toluca'),
('Acapulco');

INSERT INTO categories (name) VALUES 
('historical'),
('urban'),
('nature'),
('relaxing'),
('educational'),
('luxury'),
('roughin it');
```

Then answer the following questions.

* Find the names of all of the tours that are 'relaxing'.

<img src="./beaches-mexico.png" width="80%">

* Return all of the city names on the 'Food Tour of Mexico', in the order that they are stops on the tour.

<img src="./city-names.png" width="80%">

* Find all of the categories of the History of Mexico tour.

<img src="./history-mexico.png" width="80%">

* Find the names of all of the cities in a tour that is 'relaxing'.

<img src="./cities-relaxing.png" width="60%">